{% extends "_base.html" %}

{% block content %}
<div class="row">
  <div class="columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="{{ url_for('index') }}">Categories</a></li>
        {% if category %}
        <li><a href="{{ url_for('view_category', category_id=category.id) }}">{{ category.title }}</a></li>
        <li><span class="show-for-sr">Current: </span> Edit</li>
        {% else %}
        <li><span class="show-for-sr">Current: </span> New</li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% if category %}
{% set action_url = url_for('update_category', category_id=category.id) %}
{% else %}
{% set action_url = url_for('create_category') %}
{% endif %}

<form action="{{ action_url }}" method="post" data-abide novalidate>
  <div class="row">
    <div class="small-3 large-2 columns"></div>
    <div class="small-9 large-10 columns">
      {% if category %}
      <h1>Edit Category</h1>
      {% else %}
      <h1>New Category</h1>
      {% endif %}
      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fa fa-alert" aria-hidden="true"></i> There are some errors in your form.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-3 large-2 columns">
      <label for="title" class="text-right">Title</label>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" name="title" id="title" placeholder="Title" value="{{ category.title }}" required>
      <span class="form-error" data-form-error-for="title">This field is required.</span>
    </div>
  </div>
  <div class="row">
    <div class="small-3 large-2 columns"></div>
    <div class="small-9 large-10 columns">
      {% if category %}
      <button type="submit" form="delete_form" class="small button secondary">Delete</button>
      {% endif %}
      <input type="submit" class="button pull-right" value="Save">
    </div>
  </div>
</form>

{% if category %}
<form class="is-hidden" id="delete_form" action="{{ url_for('delete_category', category_id=category.id) }}" method="post">
  <input type="hidden" name="_method" value="delete">
</form>
{% endif %}
{% endblock %}
